@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body, div, h1, h2, h3, h4, h5, h6, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body {
    height: 100%;
}

/* Navbar */
.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333;
}

.navbar li {
    float: right;
}

    .navbar li a {
        display: block;
        color: white;
        text-align: center;
        font-size: 20px;
        font-family: 'Karla', sans-serif;
        padding: 16px 20px;
        text-decoration: none;
    }

        .navbar li a:hover:not(.active) {
            background-color: #111;
        }

.brand {
    background-color: #4CAF50;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}

/* Big Picture Home Page */
#homepage {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../images/index2.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    #homepage div h2 {
        font-family: 'Karla', sans-serif;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-size: 100px;
        text-align: center;
        padding-top: 35vh;
    }

    #homepage div h3 {
        font-family: 'Karla', sans-serif;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-size: 40px;
        text-align: center;
    }
